@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
#App {
  width: 100vw;
}
body,
html,
#root,
#App {
  overflow-x: hidden !important;
}
body {
  background: #213547;
}
#controller {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.164);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
